@media (min-width: 320px) {
  img.hsrmlogo {
    width: 90%;
    height: auto;
  }
}

body {
  font-family: FLAMA-Basic, arial, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  width: viewport;
  height: auto;
  color: #3a3a3a;
}

.hsrmlogo {
  width: 30%;
  height: auto;
}

h2 {
  margin-top: 5%;
  font-size: 1.5rem;
}

.head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -webkit-column-gap: 5%;
          column-gap: 5%;
  row-gap: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.zurueck {
  background-color: #3a3a3a;
  padding: 4%;
}

.kategorie p, button.zurueck {
  font-size: 0.9rem;
}

.zurueck, .kategorie {
  vertical-align: baseline;
  text-align: center;
  width: auto;
  color: white;
  border: none;
}

.boschlogo {
  margin-top: 20%;
  margin-bottom: 10%;
  width: 60%;
  height: auto;
}

.text p {
  text-align: left;
}

hr {
  margin-top: 5%;
  margin-bottom: 5%;
  color: rgba(0, 0, 0, 0.33);
}

.kontakt {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20%;
  margin-bottom: 20%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% auto;
      grid-template-columns: 40% auto;
  -webkit-column-gap: 5%;
          column-gap: 5%;
}

.kontakt img {
  width: 100%;
}

.kontaktinformation {
  font-size: 0.8rem;
}

.kontaktinformation a {
  color: #e0091c;
}

.downloads {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  color: white;
  margin-bottom: 10%;
}

.downloads button {
  border: none;
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;
}

.downloads button, .downloads, .text p, .kategorie {
  font-size: 1rem;
  font-family: FLAMA-Basic, arial, sans-serif;
}

.downloads button, .downloads, .kategorie {
  background-color: #e0091c;
}

@media (min-width: 768px) {
  .head {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% auto auto auto;
        grid-template-columns: 30% auto auto auto;
    -webkit-column-gap: 5%;
            column-gap: 5%;
    margin-top: 5%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .kategorie p, button.zurueck {
    font-size: 0.7rem;
  }
  .zurueck, .kategorie {
    padding-top: 5%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    width: auto;
    color: white;
    border: none;
  }
  .zurueck {
    background-color: #3a3a3a;
    padding: 9.8%;
  }
  .boschlogo {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 40%;
    height: auto;
  }
  .kontakt {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 1%;
            column-gap: 1%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .kontakt img {
    width: 80%;
  }
  .kontaktinformation {
    font-size: 1rem;
  }
  .downloads {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    color: white;
    margin-right: 2%;
    margin-bottom: 5%;
    padding: 3%;
  }
  .downloads button, .downloads, .text p, .kategorie, .kontaktinformation {
    font-size: 1.5rem;
    font-family: FLAMA-Basic, arial, sans-serif;
  }
}

@media (min-width: 1024px) {
  .kategorie p, button.zurueck {
    font-size: 0.9rem;
  }
  .zurueck {
    background-color: #3a3a3a;
    padding: 9%;
  }
}
/*# sourceMappingURL=detailstyle.css.map */