@import 'base.scss';

.banner img {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
}

.banner {
    display: inline-block;
    position: relative;
    width: 100%;
}

.bannertext {
z-index: 1;
position: absolute;
left: 5%;
top: 1%;
text-align: left;
display: inline-block;
width: 100%;
line-height: 1.3rem;
}

.bannertext span{
background: rgba(0, 0, 0, 0.664);
color:white;
font-size: $fonth1sizeSMALL;
font-weight: medium;
padding: 0.5%;
}

.firmen {
    grid-template-columns: auto auto;
    column-gap: 3%;
}

.infotext p, .firmenanmeldung p, .link{
    text-align: left;
    line-height: 1.3rem;
}

.link {
    color: $redused;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#suchfeldbox {
    display: grid;
    grid-template-columns: auto;
    background-color: #e0091c;
    height: 5%;
    padding: 3%;
    align-content: center;
    margin-bottom: 5%;
}

select, input {
    border: 0.1rem solid $lightgrey;
    height: 2.5rem;
    width: 13rem;
    background: white;
    font-size: 1rem;
    color: $fontcolor;
    margin-top: 3%;
}


.firmen {
    display: grid;
    grid-template-columns: 100%;
}

.firmenkarte {
    float:inline-start;
    margin-top: 3%;
    margin-right: 2%;
    margin-bottom: 5%;
    width: auto;
    display: block;
    box-shadow: 0px 0px 0.2rem 0.1rem $lightgrey;;
}

button{
    background: url(savebutton.svg);
    width: 20%;
    height: 13%;
    float: right;
    border: none;
    position: relative;
    top: -3%;
    background-repeat: no-repeat;
}

button:active{
    background: url(savedbutton.svg);
    z-index:10;
    float: right;
    border: none;
    background-repeat: no-repeat;
}

img.logopic {
    width: 45%;
    height: auto;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.name {
    display: block;
    margin-left: 5%;
    margin-bottom: 2%;
}

hr.short {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5%;
    color: $lightgrey;
}

.kurzbeschreibung {
    margin-left: 5%;
    color: $fontcolor;
    margin-bottom: 5%;
}

.kurzbeschreibung p{
    margin-top: 3%;
}

.kurzbeschreibung a {
    color: $redused;
    text-decoration: none;
}

.kurzbeschreibung a:hover {
    text-decoration: underline;
}

.infotext p, .firmenanmeldung p, .link, .kurzbeschreibung a:hover, .kurzbeschreibung {
    font-family: $font;
    font-size: $fontsize;
}

//Änderungen für sehr kleinen Screen
@media (max-width: 375px ) {
    body {
        margin-left: 0%;
        margin-right: 0%;
    }

    h2 {
        font-size: 1rem;
    }

    .root {
        margin-left: 10%;
        margin-right: 10%;
    }

    .infotext p, .firmenanmeldung p, .link, .kurzbeschreibung a:hover, .kurzbeschreibung, input, select {
        font-size: 0.7rem;
    }
    
}

//für Tablet && Desktop

@media (min-width: 768px) {
    .banner img {
        width: 100%;
        height: auto;
    }
    
    .banner {
        display: inline-block;
        position: relative;
        width: 100%;
    }
    
    .bannertext {
    z-index: 1;
    position: absolute;
    left: 5%;
    top: 1%;
    text-align: left;
    display: inline-block;
    width: 100%;
    line-height: 290%;
    }

    .bannertext span{
        background: rgba(0, 0, 0, 0.664);
        color:white;
        font-size: $fonth1sizeBIG;
        font-weight: medium;
        padding: 0.5%;
        }

    body {
        margin-left: 15%;
        margin-right: 15%;
    }
    .firmen {
        grid-template-columns: auto auto;
        column-gap: 3%;
    }

    #suchfeldbox {
        display: grid;
        grid-template-columns: 40% auto auto;
        background-color: #e0091c;
        height: 5%;
        padding: 3%;
        align-content: center;
    }
    
    select, input {
        font-size: 1.2 rem;
        border: 0.1rem;
        height: 2rem;
        width: 9rem;
        background: white;
        font-size: 0.9rem;
        color: $fontcolor;

    }
}

//Änderungen nur für Desktop
@media (min-width: 1024px) {
    .firmen {
        grid-template-columns: auto auto auto;
        column-gap: 3%;
    }

    select, input {
        font-size: 1.3rem;
        height: 3rem;
        width: 12rem;
    }

}