$redused: #e0091c;
$font: FLAMA-Basic,arial,sans-serif;
$fonth1sizeBIG: 3vh;
$fonth1sizeSMALL: 1rem;
$fonth2size: 1.5rem;
$fontsize: 1rem; //rem
$fontcolor: #3a3a3a;
$fontweight: 300;
$lightgrey: rgba(0, 0, 0, 0.33);
//boxshadow: 0px 0px 0.2rem 0.1rem $lightgrey;
